:root {

  /* Cyan */
  --cyan-600: rgb(77, 150, 168);
  --cyan-300: rgb(143, 227, 249);

  /* Purple */
  --purple-600: rgb(133, 95, 177);
  --purple-300: rgb(217, 184, 255);

  /* Slate */
  --slate-900: rgb(40, 40, 61);
  --slate-600: rgb(135, 135, 157);
  --slate-300: rgb(209, 209, 223);

  /* White */
  --white: rgb(250, 250, 250);

  /* Família de fonte */
  --font-display: 'Red Hat Display', sans-serif;

  /* Tamanhos (font-size) */
    --fs-1: 4rem;
    --fs-2: 2.5rem;
    --fs-3: 2.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;

    /* Pesos (font-weight) */
    --fw-black: 900;   
    --fw-medium: 500;  

    /* Altura de linha (line-height) */
    --lh-tight: 110%;  
    --lh-relaxed: 150%;

    /* Espaçamento entre letras (letter-spacing) */
    --ls-none: 0rem; 
    --ls-wide: 0.25rem;

    --gap-32: 2rem;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-display);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
}
nav {
    display: flex;
    align-items: flex-end;
    height: 6.75rem; /* 108px */
}


/** Cabeçalho **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 64px clamp(32px, 4.17vw, 80px) clamp(32px, 8.53vw, 64px);
    overflow: hidden;
    box-sizing: border-box;
 /* Adiciona espaço nas laterais */
}
.lng__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.lng__imageHero--left {
    margin-right:  110px;
    margin-bottom: 30px;
}
.lng__imageHero--right {
    margin-left: 110px;
    margin-top: 30px;
}

.lng__hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* 32px */
    width: clamp(19rem,83%, 26rem);
}
.hero__title {
    font-size: var(--fs-1);
    font-weight: var(--fw-black);
    line-height: var(--lh-tight);
    text-align: center;
    width: 28.019rem;
}
.hero__paragraph {
    text-align: center;
    font-weight: var(--fs-4);
    line-height: var(--lh-tight);
    width: clamp(18rem,83%, 26rem);
}


/** Botão **/
button {
    padding: 1.375rem 2.875rem 1.375rem 2.875rem; /* 22px 46px 22px 46px */
    border-radius: 3.125rem; /* 50px */
    border: solid 0;
    line-height: var(--lh-relaxed);
    font-size: var(--fs-5);
    font-weight: var(--fw-black);
}
.lng__btn {
    display: flex;
    justify-content: center;
    gap: 1.0625rem; /* 17px */
    height: 100%;
}
.btn__color--cyan {
    background-color: var(--cyan-600);
    color: var(--white);
}
.btn__color--purple {
    background-color: var(--purple-600);
    color: var(--white);
}
.btn__color--cyan:hover {
    background-color: #71C0D4;
}
.btn__color--purple:hover {
    background-color: #B18BDD;
}
.btn_txt--cyan {
    color: var(--cyan-300);
}
.btn_txt--purple {
    color: var(--purple-300);
}



/** Conteudo **/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: clamp(32px, 7.3vw, 56px) clamp(32px, 4.17vw, 80px) clamp(64px, 5.63vw, 72px);
}
.lng__gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* 32px */
}
.gallery__img {
    width: clamp(9rem, 21%, 16rem);
    height: auto;
    border-radius: 0.5rem;
}
.lng__cta--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(9.375rem, 83%, 34rem);
}
span {
    font-weight: var(--fw-black);
    font-size: var(--fs-5);
    line-height: var(--lh-tight);
    color: var(--cyan-600);
    letter-spacing: var(--ls-wide);
    text-align: center;
    margin-bottom: 1rem;
}
.main__title {
    font-weight: var(--fw-black);
    font-size: var(--fs-2);
    line-height: var(--lh-tight);
    color: var(--slate-900);
    text-align: center;
    width: clamp(9.375rem, 83vw, 27rem);
}
.main__paragraph {
    font-weight: var(--fw-medium);
    font-size: var(--fs-4);
    line-height: var(--lh-tight);
    color: var(--slate-600);
    text-align: center;
}



/** Footer **/
footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lng__number02 {
    position: relative;
    top: 30px;
    z-index: 1;
}
.lng__cta--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), center / cover no-repeat url(desktop/image-footer.jpg);
}
.cta__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: clamp(4rem, 8.33vw, 7rem)  clamp(2rem, 4.2%, 5rem);
}
.footer__paragraph {
    text-align: left;
    color: var(--white);
    max-width: 22.188rem;
}
.footer__title {
    font-size: var(--fs-2);
    font-weight: var(--fw-black);
    line-height: var(--lh-tight);
    color: var(--white);
    max-width: 28.438rem;
}

/** Breakpoint's **/
@media (max-width: 1656px) {

    .lng__conteiner {
        justify-content: center;
    }
}
@media (max-width: 1000px) { 

    .cta__footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .lng__cta--footer {
        background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), center / cover no-repeat url(tablet/image-footer.jpg);
    }
    .footer__title, .footer__paragraph {
        text-align: center;
    }

}
@media (max-width: 768px) {
    
    header {
        width: auto;
        overflow-x: hidden;
        padding: 0;
    }
    .hero__paragraph {
        font-size: var(--fs-5);
        text-align: center;
    }
    .hero__title {
        font-size: 3rem;
        width: 21rem;
    }
    .lng__conteiner {
        display: flex;
        flex-direction: column;
        padding: 64px clamp(32px, 4.17vw, 80px) clamp(32px, 8.53vw, 64px);
        gap: 4.5rem;
    }
    .lng__imageHero--right {
        display: none;
        margin-top: 0;
    }
    .lng__imageHero--left {
        margin-bottom: 0;
        width: 100%;
        margin-right:  auto;
    }
    .img__left {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 447px) {

    .lng__hero div {
        display: flex;
        flex-direction: column;
    }
    .hero__title {
        font-size: var(--fs-2);
        width: 100%;
    }
    .lng__conteiner {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .main__title {
        font-size: 2rem;
    }
}





